<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>ABOUT</h3>
        <h2 class="section-title">Our Mission to Build - Plan Expansion</h2>
        <p class="section-subtitle">
          Established in 2022, Sharp Connections was formed as a holding company to act as a potfolio to hold our investments.
        </p>
      </div>
    </div>

    <div class="col-2-3">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-balance-scale fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Risk Managment</h4>
          <p>
            Balancing risk is an art. Walking the line between being under and over 
            exposed is what allows us to capture opportunities in the safest way possible.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bolt fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Acceleration</h4>
          <p>
            Forward momentum is what made Sharp Connections. Time to react and reacting to 
            time is what has driven our endevours to success.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-calculator	 fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Yield</h4>
          <p>
            Capturing positive oppotunities must make sense from a numbers perspective. 
            That is why we emphasis backing all of our endevours with conservative statistics. 
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-random fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Adaptability</h4>
          <p>
            Technology and trends move quickly. This is why we build out our portfolio with 
            a forward thinking mind set so we can manage and pivot risk where we find profitable. 
            Having this broad portfolio also allows us to keep an eye on certain markets so we can 
            become more niche where we see fit. 
          </p>
        </div>
      </div>
      <!--End of Icon Block-->
    </div>
  </div>
</section>
<!--End of Introduction-->
